.field-search
{
    width: 100%;
    height: 40px;
    position: relative;
    &__icon
    {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
    }
}